.full-page-slider-image-control {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;

	label {
		font-size: 11px;
		font-weight: 500;
		line-height: 1.4;
		text-transform: uppercase;
		box-sizing: border-box;
		display: block;
		padding-top: 0px;
		padding-bottom: 0px;
		max-width: 100%;
		z-index: 1;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.preview {
		width: 100%;
		max-width: 100%;
		padding: 20px;
		
		img {
			max-height: 150px;
			border-radius: 5px;
		}
	}
}